#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

.sliderdiv {
  background-color: orange;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderdiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newdiv {
  width: 1000px;
}
.newdiv1 {
  width: 100vw;
}
