.slidercontainer {
  position: relative;
  overflow: hidden;
  height: 90vh;
  width: inherit;
}
.sliderwrapper {
  transition: all 300ms ease-in-out;
  overflow: hidden;
  height: 100%;
  display: flex;
}
.arrowcontainer {
  position: absolute;
  display: flex;
  font-size: 36px;
  gap: 20px;
  color: white;
  bottom: 0;
  width: fit-content;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: 20px auto;
}

.arrow {
  border: 1px solid black;
  padding: 10px;
  color: black;
}
.slidercontent {
  height: 100%;
}

.slidercontent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
